@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
    /* Picko */
    --color-picko-purple: #570de6ff;
    --color-picko-yellow: #fba85aff;

    /* Primary */
    --color-primary-yellow: #ffbb54ff;

    /* Secondary */
    --color-secondary-green: #25c78bff;
    --color-secondary-blue: #04a4f4ff;
    --color-secondary-red: #db5962ff;

    /* Neutral */
    --color-neutral-black: #141522ff;
    --color-neutral-dark-grey: #9c9ca4ff;
    --color-neutral-grey: #dfdfdfff;
    --color-neutral-soft-grey: #f5f5f7ff;
    --color-neutral-light-grey: #fcfcfcff;
    --color-neutral-white: #ffffffff;

    /* Label */
    --color-label-yellow: #fff3e0ff;
    --color-label-green: #eff6e9ff;
    --color-label-blue: #eaf8ffff;
    --color-label-red: #fff4f3ff;

    /* Transparant Black */
    --color-transparant-black-10: #0000001a;
    --color-transparant-black-20: #00000033;
    --color-transparant-black-30: #0000004d;

    /* Transparant White */
    --color-transparant-white-10: #ffffff1a;
    --color-transparant-white-20: #ffffff33;
    --color-transparant-white-30: #ffffff4d;

    /* Foundation Blue */
    --color-foundation-blue-50: #ecebffff;
    --color-foundation-blue-100: #c4c2fdff;
    --color-foundation-blue-200: #a7a4fdff;
    --color-foundation-blue-300: #7f7afcff;
    --color-foundation-blue-400: #6661fbff;
    --color-foundation-blue-500: #4039faff;
    --color-foundation-blue-600: #3a34e4ff;
    --color-foundation-blue-700: #2d28b2ff;
    --color-foundation-blue-800: #231f8aff;
    --color-foundation-blue-900: #1b1869ff;

    /* Foundation Black */
    --color-foundation-black-50: #e9e9eaff;
    --color-foundation-black-100: #bcbcbdff;
    --color-foundation-black-200: #9c9c9dff;
    --color-foundation-black-300: #6e6e71ff;
    --color-foundation-black-400: #525255ff;
    --color-foundation-black-500: #27272bff;
    --color-foundation-black-600: #232327ff;
    --color-foundation-black-700: #1c1c1fff;
    --color-foundation-black-800: #151518ff;
    --color-foundation-black-900: #101012ff;

    /* Foundation Grey */
    --color-foundation-grey-50: #fdfdfdff;
    --color-foundation-grey-100: #f9f9faff;
    --color-foundation-grey-200: #f6f6f8ff;
    --color-foundation-grey-300: #f2f2f4ff;
    --color-foundation-grey-400: #efeff2ff;
    --color-foundation-grey-500: #ebebefff;
    --color-foundation-grey-600: #d6d6d9ff;
    --color-foundation-grey-700: #a7a7aaff;
    --color-foundation-grey-800: #818183ff;
    --color-foundation-grey-900: #636364ff;

    /* Plus Jakarta Display - Regular */
    --font-plus-jakarta-display-regular-type-12-font-size: 12px;
    --font-plus-jakarta-display-regular-type-12-line-height: 18px;
    --font-plus-jakarta-display-regular-type-12-font-weight: 400;
    --font-plus-jakarta-display-regular-type-12-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-14-font-size: 14px;
    --font-plus-jakarta-display-regular-type-14-line-height: 28px;
    --font-plus-jakarta-display-regular-type-14-font-weight: 400;
    --font-plus-jakarta-display-regular-type-14-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-16-font-size: 16px;
    --font-plus-jakarta-display-regular-type-16-line-height: 24px;
    --font-plus-jakarta-display-regular-type-16-font-weight: 400;
    --font-plus-jakarta-display-regular-type-16-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-18-font-size: 18px;
    --font-plus-jakarta-display-regular-type-18-line-height: 27px;
    --font-plus-jakarta-display-regular-type-18-font-weight: 400;
    --font-plus-jakarta-display-regular-type-18-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-24-font-size: 24px;
    --font-plus-jakarta-display-regular-type-24-line-height: 36px;
    --font-plus-jakarta-display-regular-type-24-font-weight: 400;
    --font-plus-jakarta-display-regular-type-24-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-32-font-size: 32px;
    --font-plus-jakarta-display-regular-type-32-line-height: 48px;
    --font-plus-jakarta-display-regular-type-32-font-weight: 400;
    --font-plus-jakarta-display-regular-type-32-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-42-font-size: 42px;
    --font-plus-jakarta-display-regular-type-42-line-height: 63px;
    --font-plus-jakarta-display-regular-type-42-font-weight: 400;
    --font-plus-jakarta-display-regular-type-42-letter-spacing: 0;

    --font-plus-jakarta-display-regular-type-72-font-size: 72px;
    --font-plus-jakarta-display-regular-type-72-line-height: 108px;
    --font-plus-jakarta-display-regular-type-72-font-weight: 400;
    --font-plus-jakarta-display-regular-type-72-letter-spacing: 0;

    /* Plus Jakarta Display - Medium */
    --font-plus-jakarta-display-medium-type-12-font-size: 12px;
    --font-plus-jakarta-display-medium-type-12-line-height: 18px;
    --font-plus-jakarta-display-medium-type-12-font-weight: 500;
    --font-plus-jakarta-display-medium-type-12-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-14-font-size: 14px;
    --font-plus-jakarta-display-medium-type-14-line-height: 21px;
    --font-plus-jakarta-display-medium-type-14-font-weight: 500;
    --font-plus-jakarta-display-medium-type-14-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-16-font-size: 16px;
    --font-plus-jakarta-display-medium-type-16-line-height: 24px;
    --font-plus-jakarta-display-medium-type-16-font-weight: 500;
    --font-plus-jakarta-display-medium-type-16-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-18-font-size: 18px;
    --font-plus-jakarta-display-medium-type-18-line-height: 27px;
    --font-plus-jakarta-display-medium-type-18-font-weight: 500;
    --font-plus-jakarta-display-medium-type-18-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-24-font-size: 24px;
    --font-plus-jakarta-display-medium-type-24-line-height: 36px;
    --font-plus-jakarta-display-medium-type-24-font-weight: 500;
    --font-plus-jakarta-display-medium-type-24-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-32-font-size: 32px;
    --font-plus-jakarta-display-medium-type-32-line-height: 48px;
    --font-plus-jakarta-display-medium-type-32-font-weight: 500;
    --font-plus-jakarta-display-medium-type-32-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-42-font-size: 42px;
    --font-plus-jakarta-display-medium-type-42-line-height: 63px;
    --font-plus-jakarta-display-medium-type-42-font-weight: 500;
    --font-plus-jakarta-display-medium-type-42-letter-spacing: 0;

    --font-plus-jakarta-display-medium-type-72-font-size: 72px;
    --font-plus-jakarta-display-medium-type-72-line-height: 108px;
    --font-plus-jakarta-display-medium-type-72-font-weight: 500;
    --font-plus-jakarta-display-medium-type-72-letter-spacing: 0;

    /* Plus Jakarta Display - Bold */
    --font-plus-jakarta-display-bold-type-12-font-size: 12px;
    --font-plus-jakarta-display-bold-type-12-line-height: 18px;
    --font-plus-jakarta-display-bold-type-12-font-weight: 700;
    --font-plus-jakarta-display-bold-type-12-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-14-font-size: 14px;
    --font-plus-jakarta-display-bold-type-14-line-height: 21px;
    --font-plus-jakarta-display-bold-type-14-font-weight: 700;
    --font-plus-jakarta-display-bold-type-14-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-16-font-size: 16px;
    --font-plus-jakarta-display-bold-type-16-line-height: 24px;
    --font-plus-jakarta-display-bold-type-16-font-weight: 700;
    --font-plus-jakarta-display-bold-type-16-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-18-font-size: 18px;
    --font-plus-jakarta-display-bold-type-18-line-height: 27px;
    --font-plus-jakarta-display-bold-type-18-font-weight: 700;
    --font-plus-jakarta-display-bold-type-18-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-24-font-size: 24px;
    --font-plus-jakarta-display-bold-type-24-line-height: 36px;
    --font-plus-jakarta-display-bold-type-24-font-weight: 700;
    --font-plus-jakarta-display-bold-type-24-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-32-font-size: 32px;
    --font-plus-jakarta-display-bold-type-32-line-height: 48px;
    --font-plus-jakarta-display-bold-type-32-font-weight: 700;
    --font-plus-jakarta-display-bold-type-32-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-42-font-size: 42px;
    --font-plus-jakarta-display-bold-type-42-line-height: 63px;
    --font-plus-jakarta-display-bold-type-42-font-weight: 700;
    --font-plus-jakarta-display-bold-type-42-letter-spacing: 0;

    --font-plus-jakarta-display-bold-type-72-font-size: 72px;
    --font-plus-jakarta-display-bold-type-72-line-height: 108px;
    --font-plus-jakarta-display-bold-type-72-font-weight: 700;
    --font-plus-jakarta-display-bold-type-72-letter-spacing: 0;

    /* Display LG - Extrabold */
    --font-display-lg-extrabold-font-size: 180px;
    --font-display-lg-extrabold-line-height: 188px;
    --font-display-lg-extrabold-font-weight: 800;
    --font-display-lg-extrabold-letter-spacing: -9px;

    /* Display LG - Bold */
    --font-display-lg-bold-font-size: 180px;
    --font-display-lg-bold-line-height: 188px;
    --font-display-lg-bold-font-weight: 700;
    --font-display-lg-bold-letter-spacing: -9px;

    /* Display LG - Semibold */
    --font-display-lg-semibold-font-size: 180px;
    --font-display-lg-semibold-line-height: 188px;
    --font-display-lg-semibold-font-weight: 600;
    --font-display-lg-semibold-letter-spacing: -9px;

    /* Display MD - Extrabold */
    --font-display-md-extrabold-font-size: 128px;
    --font-display-md-extrabold-line-height: 136px;
    --font-display-md-extrabold-font-weight: 800;
    --font-display-md-extrabold-letter-spacing: -5.12px;

    /* Display MD - Bold */
    --font-display-md-bold-font-size: 128px;
    --font-display-md-bold-line-height: 136px;
    --font-display-md-bold-font-weight: 700;
    --font-display-md-bold-letter-spacing: -5.12px;

    /* Display MD - Semibold */
    --font-display-md-semibold-font-size: 128px;
    --font-display-md-semibold-line-height: 136px;
    --font-display-md-semibold-font-weight: 600;
    --font-display-md-semibold-letter-spacing: -5.12px;

    /* Display SM - Extrabold */
    --font-display-sm-extrabold-font-size: 96px;
    --font-display-sm-extrabold-line-height: 104px;
    --font-display-sm-extrabold-font-weight: 800;
    --font-display-sm-extrabold-letter-spacing: -2.88px;

    /* Display SM - Bold */
    --font-display-sm-bold-font-size: 96px;
    --font-display-sm-bold-line-height: 104px;
    --font-display-sm-bold-font-weight: 700;
    --font-display-sm-bold-letter-spacing: -2.88px;

    /* Display SM - Semibold */
    --font-display-sm-semibold-font-size: 96px;
    --font-display-sm-semibold-line-height: 104px;
    --font-display-sm-semibold-font-weight: 600;
    --font-display-sm-semibold-letter-spacing: -2.88px;

    /* Heading 2XL - Extrabold */
    --font-heading-2xl-extrabold-font-size: 72px;
    --font-heading-2xl-extrabold-line-height: 80px;
    --font-heading-2xl-extrabold-font-weight: 800;
    --font-heading-2xl-extrabold-letter-spacing: -1.44px;

    /* Heading 2XL - Bold */
    --font-heading-2xl-bold-font-size: 72px;
    --font-heading-2xl-bold-line-height: 80px;
    --font-heading-2xl-bold-font-weight: 700;
    --font-heading-2xl-bold-letter-spacing: -1.44px;

    /* Heading 2XL - Semibold */
    --font-heading-2xl-semibold-font-size: 72px;
    --font-heading-2xl-semibold-line-height: 80px;
    --font-heading-2xl-semibold-font-weight: 600;
    --font-heading-2xl-semibold-letter-spacing: -1.44px;

    /* Heading 2XL - Medium */
    --font-heading-2xl-medium-font-size: 72px;
    --font-heading-2xl-medium-line-height: 80px;
    --font-heading-2xl-medium-font-weight: 500;
    --font-heading-2xl-medium-letter-spacing: -1.44px;

    /* Heading XL - Extrabold */
    --font-heading-xl-extrabold-font-size: 60px;
    --font-heading-xl-extrabold-line-height: 68px;
    --font-heading-xl-extrabold-font-weight: 800;
    --font-heading-xl-extrabold-letter-spacing: -1.08px;

    /* Heading XL - Bold */
    --font-heading-xl-bold-font-size: 60px;
    --font-heading-xl-bold-line-height: 68px;
    --font-heading-xl-bold-font-weight: 700;
    --font-heading-xl-bold-letter-spacing: -1.08px;

    /* Heading XL - Semibold */
    --font-heading-xl-semibold-font-size: 60px;
    --font-heading-xl-semibold-line-height: 68px;
    --font-heading-xl-semibold-font-weight: 600;
    --font-heading-xl-semibold-letter-spacing: -1.08px;

    /* Heading XL - Medium */
    --font-heading-xl-medium-font-size: 60px;
    --font-heading-xl-medium-line-height: 68px;
    --font-heading-xl-medium-font-weight: 500;
    --font-heading-xl-medium-letter-spacing: -1.08px;

    /* Heading LG - Extrabold */
    --font-heading-lg-extrabold-font-size: 48px;
    --font-heading-lg-extrabold-line-height: 56px;
    --font-heading-lg-extrabold-font-weight: 800;
    --font-heading-lg-extrabold-letter-spacing: -0.768px;

    /* Heading LG - Bold */
    --font-heading-lg-bold-font-size: 48px;
    --font-heading-lg-bold-line-height: 56px;
    --font-heading-lg-bold-font-weight: 700;
    --font-heading-lg-bold-letter-spacing: -0.768px;

    /* Heading LG - Semibold */
    --font-heading-lg-semibold-font-size: 48px;
    --font-heading-lg-semibold-line-height: 56px;
    --font-heading-lg-semibold-font-weight: 600;
    --font-heading-lg-semibold-letter-spacing: -0.768px;

    /* Heading LG - Medium */
    --font-heading-lg-medium-font-size: 48px;
    --font-heading-lg-medium-line-height: 56px;
    --font-heading-lg-medium-font-weight: 500;
    --font-heading-lg-medium-letter-spacing: -0.768px;

    /* Display MD - Extrabold */
    --font-display-md-extrabold-font-size: 128px;
    --font-display-md-extrabold-line-height: 136px;
    --font-display-md-extrabold-font-weight: 800;
    --font-display-md-extrabold-letter-spacing: -5.12px;

    /* Display MD - Bold */
    --font-display-md-bold-font-size: 128px;
    --font-display-md-bold-line-height: 136px;
    --font-display-md-bold-font-weight: 700;
    --font-display-md-bold-letter-spacing: -5.12px;

    /* Display MD - Semibold */
    --font-display-md-semibold-font-size: 128px;
    --font-display-md-semibold-line-height: 136px;
    --font-display-md-semibold-font-weight: 600;
    --font-display-md-semibold-letter-spacing: -5.12px;

    /* Display SM - Extrabold */
    --font-display-sm-extrabold-font-size: 96px;
    --font-display-sm-extrabold-line-height: 104px;
    --font-display-sm-extrabold-font-weight: 800;
    --font-display-sm-extrabold-letter-spacing: -2.88px;

    /* Display SM - Bold */
    --font-display-sm-bold-font-size: 96px;
    --font-display-sm-bold-line-height: 104px;
    --font-display-sm-bold-font-weight: 700;
    --font-display-sm-bold-letter-spacing: -2.88px;

    /* Display SM - Semibold */
    --font-display-sm-semibold-font-size: 96px;
    --font-display-sm-semibold-line-height: 104px;
    --font-display-sm-semibold-font-weight: 600;
    --font-display-sm-semibold-letter-spacing: -2.88px;

    /* Heading 2XL - Extrabold */
    --font-heading-2xl-extrabold-font-size: 72px;
    --font-heading-2xl-extrabold-line-height: 80px;
    --font-heading-2xl-extrabold-font-weight: 800;
    --font-heading-2xl-extrabold-letter-spacing: -1.44px;

    /* Heading 2XL - Bold */
    --font-heading-2xl-bold-font-size: 72px;
    --font-heading-2xl-bold-line-height: 80px;
    --font-heading-2xl-bold-font-weight: 700;
    --font-heading-2xl-bold-letter-spacing: -1.44px;

    /* Heading 2XL - Semibold */
    --font-heading-2xl-semibold-font-size: 72px;
    --font-heading-2xl-semibold-line-height: 80px;
    --font-heading-2xl-semibold-font-weight: 600;
    --font-heading-2xl-semibold-letter-spacing: -1.44px;

    /* Heading 2XL - Medium */
    --font-heading-2xl-medium-font-size: 72px;
    --font-heading-2xl-medium-line-height: 80px;
    --font-heading-2xl-medium-font-weight: 500;
    --font-heading-2xl-medium-letter-spacing: -1.44px;

    /* Heading XL - Extrabold */
    --font-heading-xl-extrabold-font-size: 60px;
    --font-heading-xl-extrabold-line-height: 68px;
    --font-heading-xl-extrabold-font-weight: 800;
    --font-heading-xl-extrabold-letter-spacing: -1.08px;

    /* Heading XL - Bold */
    --font-heading-xl-bold-font-size: 60px;
    --font-heading-xl-bold-line-height: 68px;
    --font-heading-xl-bold-font-weight: 700;
    --font-heading-xl-bold-letter-spacing: -1.08px;

    /* Heading XL - Semibold */
    --font-heading-xl-semibold-font-size: 60px;
    --font-heading-xl-semibold-line-height: 68px;
    --font-heading-xl-semibold-font-weight: 600;
    --font-heading-xl-semibold-letter-spacing: -1.08px;

    /* Heading XL - Medium */
    --font-heading-xl-medium-font-size: 60px;
    --font-heading-xl-medium-line-height: 68px;
    --font-heading-xl-medium-font-weight: 500;
    --font-heading-xl-medium-letter-spacing: -1.08px;

    /* Heading LG - Extrabold */
    --font-heading-lg-extrabold-font-size: 48px;
    --font-heading-lg-extrabold-line-height: 56px;
    --font-heading-lg-extrabold-font-weight: 800;
    --font-heading-lg-extrabold-letter-spacing: -0.768px;

    /* Heading LG - Bold */
    --font-heading-lg-bold-font-size: 48px;
    --font-heading-lg-bold-line-height: 56px;
    --font-heading-lg-bold-font-weight: 700;
    --font-heading-lg-bold-letter-spacing: -0.768px;

    /* Heading LG - Semibold */
    --font-heading-lg-semibold-font-size: 48px;
    --font-heading-lg-semibold-line-height: 56px;
    --font-heading-lg-semibold-font-weight: 600;
    --font-heading-lg-semibold-letter-spacing: -0.768px;

    /* Heading LG - Medium */
    --font-heading-lg-medium-font-size: 48px;
    --font-heading-lg-medium-line-height: 56px;
    --font-heading-lg-medium-font-weight: 500;
    --font-heading-lg-medium-letter-spacing: -0.768px;

    /* Heading MD - Extrabold */
    --font-heading-md-extrabold-font-size: 36px;
    --font-heading-md-extrabold-line-height: 44px;
    --font-heading-md-extrabold-font-weight: 800;
    --font-heading-md-extrabold-letter-spacing: -0.504px;

    /* Heading MD - Bold */
    --font-heading-md-bold-font-size: 36px;
    --font-heading-md-bold-line-height: 44px;
    --font-heading-md-bold-font-weight: 700;
    --font-heading-md-bold-letter-spacing: -0.504px;

    /* Heading MD - Semibold */
    --font-heading-md-semibold-font-size: 36px;
    --font-heading-md-semibold-line-height: 44px;
    --font-heading-md-semibold-font-weight: 600;
    --font-heading-md-semibold-letter-spacing: -0.504px;

    /* Heading MD - Medium */
    --font-heading-md-medium-font-size: 36px;
    --font-heading-md-medium-line-height: 44px;
    --font-heading-md-medium-font-weight: 500;
    --font-heading-md-medium-letter-spacing: -0.504px;

    /* Heading SM - Extrabold */
    --font-heading-sm-extrabold-font-size: 30px;
    --font-heading-sm-extrabold-line-height: 38px;
    --font-heading-sm-extrabold-font-weight: 800;
    --font-heading-sm-extrabold-letter-spacing: -0.39px;

    /* Heading SM - Bold */
    --font-heading-sm-bold-font-size: 30px;
    --font-heading-sm-bold-line-height: 38px;
    --font-heading-sm-bold-font-weight: 700;
    --font-heading-sm-bold-letter-spacing: -0.39px;

    /* Heading SM - Semibold */
    --font-heading-sm-semibold-font-size: 30px;
    --font-heading-sm-semibold-line-height: 38px;
    --font-heading-sm-semibold-font-weight: 600;
    --font-heading-sm-semibold-letter-spacing: -0.39px;

    /* Heading SM - Medium */
    --font-heading-sm-medium-font-size: 30px;
    --font-heading-sm-medium-line-height: 38px;
    --font-heading-sm-medium-font-weight: 500;
    --font-heading-sm-medium-letter-spacing: -0.39px;

    /* Heading XS - Extrabold */
    --font-heading-xs-extrabold-font-size: 24px;
    --font-heading-xs-extrabold-line-height: 32px;
    --font-heading-xs-extrabold-font-weight: 800;
    --font-heading-xs-extrabold-letter-spacing: -0.288px;

    /* Heading XS - Bold */
    --font-heading-xs-bold-font-size: 24px;
    --font-heading-xs-bold-line-height: 32px;
    --font-heading-xs-bold-font-weight: 700;
    --font-heading-xs-bold-letter-spacing: -0.288px;

    /* Heading XS - Semibold */
    --font-heading-xs-semibold-font-size: 24px;
    --font-heading-xs-semibold-line-height: 32px;
    --font-heading-xs-semibold-font-weight: 600;
    --font-heading-xs-semibold-letter-spacing: -0.288px;

    /* Heading XS - Medium */
    --font-heading-xs-medium-font-size: 24px;
    --font-heading-xs-medium-line-height: 32px;
    --font-heading-xs-medium-font-weight: 500;
    --font-heading-xs-medium-letter-spacing: -0.288px;

    /* Text 2XL - Extrabold */
    --font-text-2xl-extrabold-font-size: 24px;
    --font-text-2xl-extrabold-line-height: 32px;
    --font-text-2xl-extrabold-font-weight: 800;
    --font-text-2xl-extrabold-letter-spacing: -0.288px;

    /* Text 2XL - Bold */
    --font-text-2xl-bold-font-size: 24px;
    --font-text-2xl-bold-line-height: 32px;
    --font-text-2xl-bold-font-weight: 700;
    --font-text-2xl-bold-letter-spacing: -0.288px;

    /* Text 2XL - Semibold */
    --font-text-2xl-semibold-font-size: 24px;
    --font-text-2xl-semibold-line-height: 32px;
    --font-text-2xl-semibold-font-weight: 600;
    --font-text-2xl-semibold-letter-spacing: -0.288px;

    /* Text 2XL - Medium */
    --font-text-2xl-medium-font-size: 24px;
    --font-text-2xl-medium-line-height: 32px;
    --font-text-2xl-medium-font-weight: 500;
    --font-text-2xl-medium-letter-spacing: -0.288px;

    /* Text XL - Extrabold */
    --font-text-xl-extrabold-font-size: 20px;
    --font-text-xl-extrabold-line-height: 28px;
    --font-text-xl-extrabold-font-weight: 800;
    --font-text-xl-extrabold-letter-spacing: -0.2px;

    /* Text XL - Bold */
    --font-text-xl-bold-font-size: 20px;
    --font-text-xl-bold-line-height: 28px;
    --font-text-xl-bold-font-weight: 700;
    --font-text-xl-bold-letter-spacing: -0.2px;

    /* Text XL - Semibold */
    --font-text-xl-semibold-font-size: 20px;
    --font-text-xl-semibold-line-height: 28px;
    --font-text-xl-semibold-font-weight: 600;
    --font-text-xl-semibold-letter-spacing: -0.2px;

    /* Text XL - Medium */
    --font-text-xl-medium-font-size: 20px;
    --font-text-xl-medium-line-height: 28px;
    --font-text-xl-medium-font-weight: 500;
    --font-text-xl-medium-letter-spacing: -0.2px;

    /* Text LG - Extrabold */
    --font-text-lg-extrabold-font-size: 18px;
    --font-text-lg-extrabold-line-height: 24px;
    --font-text-lg-extrabold-font-weight: 800;
    --font-text-lg-extrabold-letter-spacing: -0.144px;

    /* Text LG - Bold */
    --font-text-lg-bold-font-size: 18px;
    --font-text-lg-bold-line-height: 24px;
    --font-text-lg-bold-font-weight: 700;
    --font-text-lg-bold-letter-spacing: -0.144px;

    /* Text LG - Semibold */
    --font-text-lg-semibold-font-size: 18px;
    --font-text-lg-semibold-line-height: 24px;
    --font-text-lg-semibold-font-weight: 600;
    --font-text-lg-semibold-letter-spacing: -0.144px;

    /* Text LG - Medium */
    --font-text-lg-medium-font-size: 18px;
    --font-text-lg-medium-line-height: 24px;
    --font-text-lg-medium-font-weight: 500;
    --font-text-lg-medium-letter-spacing: -0.144px;

    /* Text MD - Extrabold */
    --font-text-md-extrabold-font-size: 16px;
    --font-text-md-extrabold-line-height: 22px;
    --font-text-md-extrabold-font-weight: 800;
    --font-text-md-extrabold-letter-spacing: -0.112px;

    /* Text MD - Bold */
    --font-text-md-bold-font-size: 16px;
    --font-text-md-bold-line-height: 22px;
    --font-text-md-bold-font-weight: 700;
    --font-text-md-bold-letter-spacing: -0.112px;

    /* Text MD - Semibold */
    --font-text-md-semibold-font-size: 16px;
    --font-text-md-semibold-line-height: 22px;
    --font-text-md-semibold-font-weight: 600;
    --font-text-md-semibold-letter-spacing: -0.112px;

    /* Text MD - Medium */
    --font-text-md-medium-font-size: 16px;
    --font-text-md-medium-line-height: 22px;
    --font-text-md-medium-font-weight: 500;
    --font-text-md-medium-letter-spacing: -0.112px;

    /* Text SM - Extrabold */
    --font-text-sm-extrabold-font-size: 14px;
    --font-text-sm-extrabold-line-height: 20px;
    --font-text-sm-extrabold-font-weight: 800;
    --font-text-sm-extrabold-letter-spacing: -0.084px;

    /* Text SM - Bold */
    --font-text-sm-bold-font-size: 14px;
    --font-text-sm-bold-line-height: 20px;
    --font-text-sm-bold-font-weight: 700;
    --font-text-sm-bold-letter-spacing: -0.084px;

    /* Text SM - Semibold */
    --font-text-sm-semibold-font-size: 14px;
    --font-text-sm-semibold-line-height: 20px;
    --font-text-sm-semibold-font-weight: 600;
    --font-text-sm-semibold-letter-spacing: -0.084px;

    /* Text Small */
    --text-sm-extrabold-font-size: 14px;
    --text-sm-extrabold-font-weight: 800;
    --text-sm-extrabold-letter-spacing: -0.084px;
    --text-sm-extrabold-line-height: 20px;

    --text-sm-bold-font-size: 14px;
    --text-sm-bold-font-weight: 700;
    --text-sm-bold-letter-spacing: -0.084px;
    --text-sm-bold-line-height: 20px;

    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-letter-spacing: -0.084px;
    --text-sm-semibold-line-height: 20px;

    --text-sm-medium-font-size: 14px;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-letter-spacing: -0.084px;
    --text-sm-medium-line-height: 20px;

    /* Text Extra Small */
    --text-xs-extrabold-font-size: 12px;
    --text-xs-extrabold-font-weight: 800;
    --text-xs-extrabold-letter-spacing: -0.06px;
    --text-xs-extrabold-line-height: 16px;

    --text-xs-bold-font-size: 12px;
    --text-xs-bold-font-weight: 700;
    --text-xs-bold-letter-spacing: -0.06px;
    --text-xs-bold-line-height: 16px;

    --text-xs-semibold-font-size: 12px;
    --text-xs-semibold-font-weight: 600;
    --text-xs-semibold-letter-spacing: -0.06px;
    --text-xs-semibold-line-height: 16px;

    --text-xs-medium-font-size: 12px;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-letter-spacing: -0.06px;
    --text-xs-medium-line-height: 16px;

    /* Paragraph */
    --paragraph-2xl-font-size: 24px;
    --paragraph-2xl-font-weight: 400;
    --paragraph-2xl-letter-spacing: 0;
    --paragraph-2xl-line-height: 38.4px;

    --paragraph-xl-font-size: 20px;
    --paragraph-xl-font-weight: 400;
    --paragraph-xl-letter-spacing: 0;
    --paragraph-xl-line-height: 32px;

    --paragraph-lg-font-size: 18px;
    --paragraph-lg-font-weight: 400;
    --paragraph-lg-letter-spacing: 0;
    --paragraph-lg-line-height: 28.8px;

    --paragraph-md-font-size: 16px;
    --paragraph-md-font-weight: 400;
    --paragraph-md-letter-spacing: 0;
    --paragraph-md-line-height: 25.6px;

    --paragraph-sm-font-size: 14px;
    --paragraph-sm-font-weight: 400;
    --paragraph-sm-letter-spacing: 0;
    --paragraph-sm-line-height: 22.4px;

    --paragraph-xs-font-size: 12px;
    --paragraph-xs-font-weight: 400;
    --paragraph-xs-letter-spacing: 0;
    --paragraph-xs-line-height: 19.2px;

    /* Label */
    --label-2xl-font-size: 20px;
    --label-2xl-font-weight: 800;
    --label-2xl-letter-spacing: 2px;
    --label-2xl-line-height: 28px;
    --label-2xl-text-transform: uppercase;

    --label-xl-font-size: 18px;
    --label-xl-font-weight: 800;
    --label-xl-letter-spacing: 1.8px;
    --label-xl-line-height: 24px;
    --label-xl-text-transform: uppercase;

    --label-lg-font-size: 16px;
    --label-lg-font-weight: 800;
    --label-lg-letter-spacing: 1.6px;
    --label-lg-line-height: 22px;
    --label-lg-text-transform: uppercase;

    --label-md-font-size: 14px;
    --label-md-font-weight: 800;
    --label-md-letter-spacing: 1.4px;
    --label-md-line-height: 20px;
    --label-md-text-transform: uppercase;

    --label-sm-font-size: 12px;
    --label-sm-font-weight: 800;
    --label-sm-letter-spacing: 1.2px;
    --label-sm-line-height: 16px;
    --label-sm-text-transform: uppercase;

    --label-xs-font-size: 10px;
    --label-xs-font-weight: 800;
    --label-xs-letter-spacing: 1px;
    --label-xs-line-height: 14px;
    --label-xs-text-transform: uppercase;
}

.font-plus-jakarta-display-regular-12 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-12-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-12-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-12-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-12-letter-spacing);
}

.font-plus-jakarta-display-regular-14 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-14-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-14-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-14-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-14-letter-spacing);
}

.font-plus-jakarta-display-regular-16 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-16-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-16-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-16-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-16-letter-spacing);
}

.font-plus-jakarta-display-regular-18 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-18-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-18-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-18-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-18-letter-spacing);
}

.font-plus-jakarta-display-regular-24 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-24-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-24-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-24-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-24-letter-spacing);
}

.font-plus-jakarta-display-regular-32 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-32-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-32-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-32-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-32-letter-spacing);
}

.font-plus-jakarta-display-regular-42 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-42-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-42-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-42-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-42-letter-spacing);
}

.font-plus-jakarta-display-regular-72 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-regular-type-72-font-size);
    line-height: var(--font-plus-jakarta-display-regular-type-72-line-height);
    font-weight: var(--font-plus-jakarta-display-regular-type-72-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-regular-type-72-letter-spacing);
}

/* Plus Jakarta Display - Medium */
.font-plus-jakarta-display-medium-12 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-12-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-12-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-12-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-12-letter-spacing);
}

.font-plus-jakarta-display-medium-14 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-14-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-14-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-14-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-14-letter-spacing);
}

.font-plus-jakarta-display-medium-16 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-16-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-16-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-16-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-16-letter-spacing);
}

.font-plus-jakarta-display-medium-18 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-18-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-18-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-18-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-18-letter-spacing);
}

.font-plus-jakarta-display-medium-24 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-24-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-24-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-24-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-24-letter-spacing);
}

.font-plus-jakarta-display-medium-32 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-32-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-32-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-32-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-32-letter-spacing);
}

.font-plus-jakarta-display-medium-42 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-42-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-42-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-42-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-42-letter-spacing);
}

.font-plus-jakarta-display-medium-72 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-medium-type-72-font-size);
    line-height: var(--font-plus-jakarta-display-medium-type-72-line-height);
    font-weight: var(--font-plus-jakarta-display-medium-type-72-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-medium-type-72-letter-spacing);
}

/* Plus Jakarta Display - Bold */
.font-plus-jakarta-display-bold-12 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-12-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-12-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-12-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-12-letter-spacing);
}

.font-plus-jakarta-display-bold-14 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-14-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-14-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-14-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-14-letter-spacing);
}

.font-plus-jakarta-display-bold-16 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-16-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-16-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-16-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-16-letter-spacing);
}

.font-plus-jakarta-display-bold-18 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-18-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-18-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-18-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-18-letter-spacing);
}

.font-plus-jakarta-display-bold-24 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-24-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-24-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-24-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-24-letter-spacing);
}

.font-plus-jakarta-display-bold-32 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-32-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-32-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-32-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-32-letter-spacing);
}

.font-plus-jakarta-display-bold-42 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-42-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-42-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-42-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-42-letter-spacing);
}

.font-plus-jakarta-display-bold-72 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-plus-jakarta-display-bold-type-72-font-size);
    line-height: var(--font-plus-jakarta-display-bold-type-72-line-height);
    font-weight: var(--font-plus-jakarta-display-bold-type-72-font-weight);
    letter-spacing: var(--font-plus-jakarta-display-bold-type-72-letter-spacing);
}

/* Display LG - Extrabold */
.font-display-lg-extrabold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-lg-extrabold-font-size);
    line-height: var(--font-display-lg-extrabold-line-height);
    font-weight: var(--font-display-lg-extrabold-font-weight);
    letter-spacing: var(--font-display-lg-extrabold-letter-spacing);
}

/* Display LG - Bold */
.font-display-lg-bold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-lg-bold-font-size);
    line-height: var(--font-display-lg-bold-line-height);
    font-weight: var(--font-display-lg-bold-font-weight);
    letter-spacing: var(--font-display-lg-bold-letter-spacing);
}

/* Display LG - Semibold */
.font-display-lg-semibold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-lg-semibold-font-size);
    line-height: var(--font-display-lg-semibold-line-height);
    font-weight: var(--font-display-lg-semibold-font-weight);
    letter-spacing: var(--font-display-lg-semibold-letter-spacing);
}

/* Display MD - Extrabold */
.font-display-md-extrabold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-md-extrabold-font-size);
    line-height: var(--font-display-md-extrabold-line-height);
    font-weight: var(--font-display-md-extrabold-font-weight);
    letter-spacing: var(--font-display-md-extrabold-letter-spacing);
}

/* Display MD - Bold */
.font-display-md-bold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-md-bold-font-size);
    line-height: var(--font-display-md-bold-line-height);
    font-weight: var(--font-display-md-bold-font-weight);
    letter-spacing: var(--font-display-md-bold-letter-spacing);
}

/* Display MD - Semibold */
.font-display-md-semibold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-md-semibold-font-size);
    line-height: var(--font-display-md-semibold-line-height);
    font-weight: var(--font-display-md-semibold-font-weight);
    letter-spacing: var(--font-display-md-semibold-letter-spacing);
}

/* Display SM - Extrabold */
.font-display-sm-extrabold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-sm-extrabold-font-size);
    line-height: var(--font-display-sm-extrabold-line-height);
    font-weight: var(--font-display-sm-extrabold-font-weight);
    letter-spacing: var(--font-display-sm-extrabold-letter-spacing);
}

/* Display SM - Bold */
.font-display-sm-bold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-sm-bold-font-size);
    line-height: var(--font-display-sm-bold-line-height);
    font-weight: var(--font-display-sm-bold-font-weight);
    letter-spacing: var(--font-display-sm-bold-letter-spacing);
}

/* Display SM - Semibold */
.font-display-sm-semibold {
    font-family: var(--font-family-plus-jakarta-sans);
    font-size: var(--font-display-sm-semibold-font-size);
    line-height: var(--font-display-sm-semibold-line-height);
    font-weight: var(--font-display-sm-semibold-font-weight);
    letter-spacing: var(--font-display-sm-semibold-letter-spacing);
}


.font-heading-2xl-extrabold {
    font-size: var(--font-heading-2xl-extrabold-font-size);
    line-height: var(--font-heading-2xl-extrabold-line-height);
    font-weight: var(--font-heading-2xl-extrabold-font-weight);
    letter-spacing: var(--font-heading-2xl-extrabold-letter-spacing);
}

.font-heading-2xl-bold {
    font-size: var(--font-heading-2xl-bold-font-size);
    line-height: var(--font-heading-2xl-bold-line-height);
    font-weight: var(--font-heading-2xl-bold-font-weight);
    letter-spacing: var(--font-heading-2xl-bold-letter-spacing);
}

.font-heading-2xl-semibold {
    font-size: var(--font-heading-2xl-semibold-font-size);
    line-height: var(--font-heading-2xl-semibold-line-height);
    font-weight: var(--font-heading-2xl-semibold-font-weight);
    letter-spacing: var(--font-heading-2xl-semibold-letter-spacing);
}

.font-heading-2xl-medium {
    font-size: var(--font-heading-2xl-medium-font-size);
    line-height: var(--font-heading-2xl-medium-line-height);
    font-weight: var(--font-heading-2xl-medium-font-weight);
    letter-spacing: var(--font-heading-2xl-medium-letter-spacing);
}

.font-heading-xl-extrabold {
    font-size: var(--font-heading-xl-extrabold-font-size);
    line-height: var(--font-heading-xl-extrabold-line-height);
    font-weight: var(--font-heading-xl-extrabold-font-weight);
    letter-spacing: var(--font-heading-xl-extrabold-letter-spacing);
}

.font-heading-xl-bold {
    font-size: var(--font-heading-xl-bold-font-size);
    line-height: var(--font-heading-xl-bold-line-height);
    font-weight: var(--font-heading-xl-bold-font-weight);
    letter-spacing: var(--font-heading-xl-bold-letter-spacing);
}

.font-heading-xl-semibold {
    font-size: var(--font-heading-xl-semibold-font-size);
    line-height: var(--font-heading-xl-semibold-line-height);
    font-weight: var(--font-heading-xl-semibold-font-weight);
    letter-spacing: var(--font-heading-xl-semibold-letter-spacing);
}

.font-heading-xl-medium {
    font-size: var(--font-heading-xl-medium-font-size);
    line-height: var(--font-heading-xl-medium-line-height);
    font-weight: var(--font-heading-xl-medium-font-weight);
    letter-spacing: var(--font-heading-xl-medium-letter-spacing);
}

.font-heading-lg-extrabold {
    font-size: var(--font-heading-lg-extrabold-font-size);
    line-height: var(--font-heading-lg-extrabold-line-height);
    font-weight: var(--font-heading-lg-extrabold-font-weight);
    letter-spacing: var(--font-heading-lg-extrabold-letter-spacing);
}

.font-heading-lg-bold {
    font-size: var(--font-heading-lg-bold-font-size);
    line-height: var(--font-heading-lg-bold-line-height);
    font-weight: var(--font-heading-lg-bold-font-weight);
    letter-spacing: var(--font-heading-lg-bold-letter-spacing);
}

.font-heading-lg-semibold {
    font-size: var(--font-heading-lg-semibold-font-size);
    line-height: var(--font-heading-lg-semibold-line-height);
    font-weight: var(--font-heading-lg-semibold-font-weight);
    letter-spacing: var(--font-heading-lg-semibold-letter-spacing);
}

.font-heading-lg-medium {
    font-size: var(--font-heading-lg-medium-font-size);
    line-height: var(--font-heading-lg-medium-line-height);
    font-weight: var(--font-heading-lg-medium-font-weight);
    letter-spacing: var(--font-heading-lg-medium-letter-spacing);
}

.font-heading-md-extrabold {
    font-size: var(--font-heading-md-extrabold-font-size);
    line-height: var(--font-heading-md-extrabold-line-height);
    font-weight: var(--font-heading-md-extrabold-font-weight);
    letter-spacing: var(--font-heading-md-extrabold-letter-spacing);
}

.font-heading-md-bold {
    font-size: var(--font-heading-md-bold-font-size);
    line-height: var(--font-heading-md-bold-line-height);
    font-weight: var(--font-heading-md-bold-font-weight);
    letter-spacing: var(--font-heading-md-bold-letter-spacing);
}

.font-heading-md-semibold {
    font-size: var(--font-heading-md-semibold-font-size);
    line-height: var(--font-heading-md-semibold-line-height);
    font-weight: var(--font-heading-md-semibold-font-weight);
    letter-spacing: var(--font-heading-md-semibold-letter-spacing);
}

.font-heading-md-medium {
    font-size: var(--font-heading-md-medium-font-size);
    line-height: var(--font-heading-md-medium-line-height);
    font-weight: var(--font-heading-md-medium-font-weight);
    letter-spacing: var(--font-heading-md-medium-letter-spacing);
}

.font-heading-sm-extrabold {
    font-size: var(--font-heading-sm-extrabold-font-size);
    line-height: var(--font-heading-sm-extrabold-line-height);
    font-weight: var(--font-heading-sm-extrabold-font-weight);
    letter-spacing: var(--font-heading-sm-extrabold-letter-spacing);
}

.font-heading-sm-bold {
    font-size: var(--font-heading-sm-bold-font-size);
    line-height: var(--font-heading-sm-bold-line-height);
    font-weight: var(--font-heading-sm-bold-font-weight);
    letter-spacing: var(--font-heading-sm-bold-letter-spacing);
}

.font-heading-sm-semibold {
    font-size: var(--font-heading-sm-semibold-font-size);
    line-height: var(--font-heading-sm-semibold-line-height);
    font-weight: var(--font-heading-sm-semibold-font-weight);
    letter-spacing: var(--font-heading-sm-semibold-letter-spacing);
}

.font-heading-sm-medium {
    font-size: var(--font-heading-sm-medium-font-size);
    line-height: var(--font-heading-sm-medium-line-height);
    font-weight: var(--font-heading-sm-medium-font-weight);
    letter-spacing: var(--font-heading-sm-medium-letter-spacing);
}

.font-heading-xs-extrabold {
    font-size: var(--font-heading-xs-extrabold-font-size);
    line-height: var(--font-heading-xs-extrabold-line-height);
    font-weight: var(--font-heading-xs-extrabold-font-weight);
    letter-spacing: var(--font-heading-xs-extrabold-letter-spacing);
}

.font-heading-xs-bold {
    font-size: var(--font-heading-xs-bold-font-size);
    line-height: var(--font-heading-xs-bold-line-height);
    font-weight: var(--font-heading-xs-bold-font-weight);
    letter-spacing: var(--font-heading-xs-bold-letter-spacing);
}

.font-heading-xs-semibold {
    font-size: var(--font-heading-xs-semibold-font-size);
    line-height: var(--font-heading-xs-semibold-line-height);
    font-weight: var(--font-heading-xs-semibold-font-weight);
    letter-spacing: var(--font-heading-xs-semibold-letter-spacing);
}

.font-heading-xs-medium {
    font-size: var(--font-heading-xs-medium-font-size);
    line-height: var(--font-heading-xs-medium-line-height);
    font-weight: var(--font-heading-xs-medium-font-weight);
    letter-spacing: var(--font-heading-xs-medium-letter-spacing);
}

/* Text 2XL */
.font-text-2xl-extrabold {
    font-size: var(--font-text-2xl-extrabold-font-size);
    line-height: var(--font-text-2xl-extrabold-line-height);
    font-weight: var(--font-text-2xl-extrabold-font-weight);
    letter-spacing: var(--font-text-2xl-extrabold-letter-spacing);
}

.font-text-2xl-bold {
    font-size: var(--font-text-2xl-bold-font-size);
    line-height: var(--font-text-2xl-bold-line-height);
    font-weight: var(--font-text-2xl-bold-font-weight);
    letter-spacing: var(--font-text-2xl-bold-letter-spacing);
}

.font-text-2xl-semibold {
    font-size: var(--font-text-2xl-semibold-font-size);
    line-height: var(--font-text-2xl-semibold-line-height);
    font-weight: var(--font-text-2xl-semibold-font-weight);
    letter-spacing: var(--font-text-2xl-semibold-letter-spacing);
}

.font-text-2xl-medium {
    font-size: var(--font-text-2xl-medium-font-size);
    line-height: var(--font-text-2xl-medium-line-height);
    font-weight: var(--font-text-2xl-medium-font-weight);
    letter-spacing: var(--font-text-2xl-medium-letter-spacing);
}

/* Text XL */
.font-text-xl-extrabold {
    font-size: var(--font-text-xl-extrabold-font-size);
    line-height: var(--font-text-xl-extrabold-line-height);
    font-weight: var(--font-text-xl-extrabold-font-weight);
    letter-spacing: var(--font-text-xl-extrabold-letter-spacing);
}

.font-text-xl-bold {
    font-size: var(--font-text-xl-bold-font-size);
    line-height: var(--font-text-xl-bold-line-height);
    font-weight: var(--font-text-xl-bold-font-weight);
    letter-spacing: var(--font-text-xl-bold-letter-spacing);
}

.font-text-xl-semibold {
    font-size: var(--font-text-xl-semibold-font-size);
    line-height: var(--font-text-xl-semibold-line-height);
    font-weight: var(--font-text-xl-semibold-font-weight);
    letter-spacing: var(--font-text-xl-semibold-letter-spacing);
}

.font-text-xl-medium {
    font-size: var(--font-text-xl-medium-font-size);
    line-height: var(--font-text-xl-medium-line-height);
    font-weight: var(--font-text-xl-medium-font-weight);
    letter-spacing: var(--font-text-xl-medium-letter-spacing);
}

/* Text LG */
.font-text-lg-extrabold {
    font-size: var(--font-text-lg-extrabold-font-size);
    line-height: var(--font-text-lg-extrabold-line-height);
    font-weight: var(--font-text-lg-extrabold-font-weight);
    letter-spacing: var(--font-text-lg-extrabold-letter-spacing);
}

.font-text-lg-bold {
    font-size: var(--font-text-lg-bold-font-size);
    line-height: var(--font-text-lg-bold-line-height);
    font-weight: var(--font-text-lg-bold-font-weight);
    letter-spacing: var(--font-text-lg-bold-letter-spacing);
}

.font-text-lg-semibold {
    font-size: var(--font-text-lg-semibold-font-size);
    line-height: var(--font-text-lg-semibold-line-height);
    font-weight: var(--font-text-lg-semibold-font-weight);
    letter-spacing: var(--font-text-lg-semibold-letter-spacing);
}

.font-text-lg-medium {
    font-size: var(--font-text-lg-medium-font-size);
    line-height: var(--font-text-lg-medium-line-height);
    font-weight: var(--font-text-lg-medium-font-weight);
    letter-spacing: var(--font-text-lg-medium-letter-spacing);
}

/* Text MD */
.font-text-md-extrabold {
    font-size: var(--font-text-md-extrabold-font-size);
    line-height: var(--font-text-md-extrabold-line-height);
    font-weight: var(--font-text-md-extrabold-font-weight);
    letter-spacing: var(--font-text-md-extrabold-letter-spacing);
}

.font-text-md-bold {
    font-size: var(--font-text-md-bold-font-size);
    line-height: var(--font-text-md-bold-line-height);
    font-weight: var(--font-text-md-bold-font-weight);
    letter-spacing: var(--font-text-md-bold-letter-spacing);
}

.font-text-md-semibold {
    font-size: var(--font-text-md-semibold-font-size);
    line-height: var(--font-text-md-semibold-line-height);
    font-weight: var(--font-text-md-semibold-font-weight);
    letter-spacing: var(--font-text-md-semibold-letter-spacing);
}

.font-text-md-medium {
    font-size: var(--font-text-md-medium-font-size);
    line-height: var(--font-text-md-medium-line-height);
    font-weight: var(--font-text-md-medium-font-weight);
    letter-spacing: var(--font-text-md-medium-letter-spacing);
}

/* Text SM */
.font-text-sm-extrabold {
    font-size: var(--font-text-sm-extrabold-font-size);
    line-height: var(--font-text-sm-extrabold-line-height);
    font-weight: var(--font-text-sm-extrabold-font-weight);
    letter-spacing: var(--font-text-sm-extrabold-letter-spacing);
}

.font-text-sm-bold {
    font-size: var(--font-text-sm-bold-font-size);
    line-height: var(--font-text-sm-bold-line-height);
    font-weight: var(--font-text-sm-bold-font-weight);
    letter-spacing: var(--font-text-sm-bold-letter-spacing);
}

.font-text-sm-semibold {
    font-size: var(--font-text-sm-semibold-font-size);
    line-height: var(--font-text-sm-semibold-line-height);
    font-weight: var(--font-text-sm-semibold-font-weight);
    letter-spacing: var(--font-text-sm-semibold-letter-spacing);
}

.font-text-sm-medium {
    font-size: var(--font-text-sm-medium-font-size);
    line-height: var(--font-text-sm-medium-line-height);
    font-weight: var(--font-text-sm-medium-font-weight);
    letter-spacing: var(--font-text-sm-medium-letter-spacing);
}

/* Text Extra Small */
.text-xs-extrabold {
    font-size: var(--text-xs-extrabold-font-size);
    font-weight: var(--text-xs-extrabold-font-weight);
    letter-spacing: var(--text-xs-extrabold-letter-spacing);
    line-height: var(--text-xs-extrabold-line-height);
}

.text-xs-bold {
    font-size: var(--text-xs-bold-font-size);
    font-weight: var(--text-xs-bold-font-weight);
    letter-spacing: var(--text-xs-bold-letter-spacing);
    line-height: var(--text-xs-bold-line-height);
}

.text-xs-semibold {
    font-size: var(--text-xs-semibold-font-size);
    font-weight: var(--text-xs-semibold-font-weight);
    letter-spacing: var(--text-xs-semibold-letter-spacing);
    line-height: var(--text-xs-semibold-line-height);
}

.text-xs-medium {
    font-size: var(--text-xs-medium-font-size);
    font-weight: var(--text-xs-medium-font-weight);
    letter-spacing: var(--text-xs-medium-letter-spacing);
    line-height: var(--text-xs-medium-line-height);
}

/* Paragraph Styles */
.paragraph-2xl {
    font-size: var(--paragraph-2xl-font-size);
    font-weight: var(--paragraph-2xl-font-weight);
    letter-spacing: var(--paragraph-2xl-letter-spacing);
    line-height: var(--paragraph-2xl-line-height);
}

.paragraph-xl {
    font-size: var(--paragraph-xl-font-size);
    font-weight: var(--paragraph-xl-font-weight);
    letter-spacing: var(--paragraph-xl-letter-spacing);
    line-height: var(--paragraph-xl-line-height);
}

.paragraph-lg {
    font-size: var(--paragraph-lg-font-size);
    font-weight: var(--paragraph-lg-font-weight);
    letter-spacing: var(--paragraph-lg-letter-spacing);
    line-height: var(--paragraph-lg-line-height);
}

.paragraph-md {
    font-size: var(--paragraph-md-font-size);
    font-weight: var(--paragraph-md-font-weight);
    letter-spacing: var(--paragraph-md-letter-spacing);
    line-height: var(--paragraph-md-line-height);
}

.paragraph-sm {
    font-size: var(--paragraph-sm-font-size);
    font-weight: var(--paragraph-sm-font-weight);
    letter-spacing: var(--paragraph-sm-letter-spacing);
    line-height: var(--paragraph-sm-line-height);
}

.paragraph-xs {
    font-size: var(--paragraph-xs-font-size);
    font-weight: var(--paragraph-xs-font-weight);
    letter-spacing: var(--paragraph-xs-letter-spacing);
    line-height: var(--paragraph-xs-line-height);
}

/* Label Styles */
.label-2xl {
    font-size: var(--label-2xl-font-size);
    font-weight: var(--label-2xl-font-weight);
    letter-spacing: var(--label-2xl-letter-spacing);
    line-height: var(--label-2xl-line-height);
    text-transform: var(--label-2xl-text-transform);
}

.label-xl {
    font-size: var(--label-xl-font-size);
    font-weight: var(--label-xl-font-weight);
    letter-spacing: var(--label-xl-letter-spacing);
    line-height: var(--label-xl-line-height);
    text-transform: var(--label-xl-text-transform);
}

.label-lg {
    font-size: var(--label-lg-font-size);
    font-weight: var(--label-lg-font-weight);
    letter-spacing: var(--label-lg-letter-spacing);
    line-height: var(--label-lg-line-height);
    text-transform: var(--label-lg-text-transform);
}

.label-md {
    font-size: var(--label-md-font-size);
    font-weight: var(--label-md-font-weight);
    letter-spacing: var(--label-md-letter-spacing);
    line-height: var(--label-md-line-height);
    text-transform: var(--label-md-text-transform);
}

.label-sm {
    font-size: var(--label-sm-font-size);
    font-weight: var(--label-sm-font-weight);
    letter-spacing: var(--label-sm-letter-spacing);
    line-height: var(--label-sm-line-height);
    text-transform: var(--label-sm-text-transform);
}

.label-xs {
    font-size: var(--label-xs-font-size);
    font-weight: var(--label-xs-font-weight);
    letter-spacing: var(--label-xs-letter-spacing);
    line-height: var(--label-xs-line-height);
    text-transform: var(--label-xs-text-transform);
}